<div class="navbar-pets">
    <%= link_to "#", class: "navbar-logo" do %>
      <%= image_tag 'pawprint.jpg' %>
      <% end %>
      <div>
        <%= link_to "Home", root_path %>
        <%# link_to "New Category", new_category_path %>
      </div>
</div>
