<div class="landing-container">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <h1 class="landing-text"><strong>Welcome to Pawfect Match</strong></h1>
    <h2 class="landing-tagline">Where pets and people meet</h2>
  </div>
</div>
