.book-btn {
  background-color: #f95855;
  padding: 7px;
  border-radius: 10px;
}

// .cursor:hover {
//   cursor: url("cursor-paw-red.png");
// }

// a {
//   cursor: url("cursor-paw-red.png");
// }
// .card-p
