.book-btn {
  background-color: #f95855;
  padding: 7px;
  border-radius: 10px;
}

.book-btn:hover {
  background-color: $mocha;
  transition: 0.5s;
}


// .cursor:hover {
//   cursor: url("cursor-paw-red.png");
// }

// a {
//   cursor: url("cursor-paw-red.png");
// }
// .card-p
