@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  min-height: 80vh;
}

h1 {
  color: #473126;
  font-weight: bold;
  font-family: 'Chewy';
  letter-spacing: 1px;
  font-size: 60px;
}

body {
  background-image: url("1.png");
  background-repeat: no-repeat;
  background-size: cover;
/* Apply the custom cursor to the whole body */
  cursor: url("cursor-paw-red.png"), auto;
}


/* Override pointer cursor on clickable elements */
a, button, .clickable, .cursor-other {
  cursor: url("cursor-paw-red.png"), auto !important;
}

.login-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
  color: #4a2f16;
}

.pet-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.filter-border {
  // border: solid 1px rgba(249, 88, 85, 0.8);
  background-color: #a68d80;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.37);
  border: solid 5px #FE5B59;
}

.filter-btn {
  background: rgb(233, 223, 146);
}

.filter-btn:hover {
  background: rgba(233, 223, 146, 0.517);
}

.input-border {
  // border: solid 1px rgba(249, 88, 85, 0.3);
}

.user-text-heading {
  font-family: 'Chewy';
  color: #C93E3E;
}

.landing-text {
  font-size: 100px;
}

.landing-tagline {
  font-family: 'Chewy';
  color:#C93E3E;
}
