html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  min-height: 80vh;
}

// body {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end; /* Push the navbar to the bottom */
// }

body {
  background-image: url("1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
