.navbar-pets {
  justify-content: space-between;
  align-content: center;
  background: rgb(219, 205, 97);
  display: flex;
  padding: 10px 20px;
}

.navbar-logo img {
  width: 20px;
  height: 20px;
  margin: 5px;
}

a {
  text-decoration: none;
  color: black;
  // margin-left: 30px;
  margin: 0 5px;
}
