.navbar-pets {
  justify-content: space-between;
  align-items: center;
  background: rgb(233, 223, 146);
  display: flex;
  padding: 10px 20px;
}

.navbar-logo img {
  width: 60px;
  height: auto;
  /* margin: 5px 5px 5px 20px; */
}

a {
  text-decoration: none;
  color: black;
  /* margin-left: 30px; */
  margin: 0 5px;
}
